/*!
 * Global Css
 * @Author Gang Chen
 */

/** Font-face **/

/*@font-face {
    font-family: "PingFangSC-Regular";
    src: url(../fonts/PingFangSC-Regular.woff);
}
@font-face {
    font-family: "PingFangSC-Medium";
    src: url(../fonts/PingFangSC-Medium.woff);
}
@font-face {
    font-family: "PingFangSC-Semibold";
    src: url(../fonts/PingFangSC-Semibold.woff);
}
@font-face {
    font-family: "PingFangSC-Light";
    src: url(../fonts/PingFangSC-Light.woff);
}

.font-PFSC-R {
    font-family: PingFangSC-Regular, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;
}
.font-PFSC-M {
    font-family: PingFangSC-Medium, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;
}
.font-PFSC-SB {
    font-family: PingFangSC-Semibold, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;
}
.font-PFSC-L {
    font-family: PingFangSC-Light, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;
}*/

/** Element basic **/
.show-ul {
    display: block!important;
    color: #fff;
}
.video-show {
    position: relative;
    z-index: 9999999;
    margin: 0 auto;
    top: 13%;
    display: table;
    width: 65%;

}
.video-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.focusvideo-pop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.85)
}
html,body {
    overflow-x: hidden;
}
html {
    height: 100%;
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}
body {
    overflow-y: hidden;
    position: relative;
    /*font-family: 'Microsoft YaHei', sans-serif;*/
    /*font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;*/
    font-family: 'STXihei', 'STHeiti', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    /*font-family: STHeiti, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;*/
    font-size: 1.4rem;
    color: #333;
}
* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
ul,
ol {
    list-style: none;
}
a,
a:focus {
    color: #252525;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
    outline: 0;
    color: #000;
    text-decoration: none;
}
a.link {
    color: #009eff;
    text-decoration: underline;
}
a.link:active {
    color: #008be0;
}
img {
    border: 0;
    outline: 0;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: inherit;*/
    font-weight: 500;
    color: inherit;
}
hr {
    height: 1px;
    border: none;
    border-top: 1px dotted rgb(211, 211, 211);
}

.txt-r {
    text-align: right;
}
.txt-c {
    text-align: center;
}
.txt-justify {
    text-align: justify;
    text-justify: inter-ideograph;
}
.bg-gray {
    background: #f8f8f8;
}
.transform {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

/** Icons **/

.icon-tel {
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-right: 3px;
    /*background: url(../images/icon-phone.png) no-repeat center;*/
    background-size: 100%;
}

/** Layout **/

/* Clear float */

.clear:after {
    content: '';
    display: block;
    clear: both;
}

/* Site content */

.sitecontent {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    background: #fff;
}

/* Header - pc */

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 84px;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 4px rgba(226, 226, 226, .8);
    -moz-box-shadow: 0px 1px 4px rgba(226, 226, 226, .8);
    box-shadow: 0px 1px 4px rgba(226, 226, 226, .8);
}
.h-body {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.header .logo {
    float: left;
    height: 100%;
    margin-left: 10px;
}
.header .logo a {
    display: inline-block;
    margin-top: 10px;
}
.header .logo img {
    /*height: 36px;*/
    height: 70px;
}
.header .tel,
.header .tel a {
    position: absolute;
    top: 0;
    right: 0;
    width: 163px;
    height: 0;
    font-size: 1.6rem;
    white-space: nowrap;
}
.header .tel a {
    top: 51px;
    left: 0;
    right: inherit;
    font-weight: bold;
}
.header .tel i {
    width: 21px;
    height: 17px;
    margin-right: 7px;
}
.header .lang {
    position: fixed;
    /*top: 34px;*/
    top: 15px;
    right: 20px;
    font-size: 1.2rem;
}
/*@media (max-width: 1305px) {
    .header .lang {
        top: 8px;
    }
}*/
.header .lang.cn a.en,
.header .lang.en a.cn {
    color: #a5a5a5;
}

/* Header - mobile */

.header-m {
    position: relative;
    width: 100%;
    height: 50px;
    display: none;
}
.header-m .side-toggle {
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
}
.header-m .side-toggle:before,
.header-m .side-toggle:after {
    content: " ";
    display: inline-block;
    height: 1px;
    width: 30px;
    border-width: 1px 0 0 0;
    border-color: #999;
    border-style: solid;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.header-m .side-toggle:after {
    top: inherit;
    bottom: 18px;
}
.header-m .side-toggle.close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 24px;
}
.header-m .side-toggle.close:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 25px;
}
.header-m .title {
    display: block;
    height: 100%;
    margin: auto 65px;
    text-align: center;
    font-size: 1.6rem;
}
.header-m .logo {
    display: inline-block;
    width: 100px;
    height: 100%;
    /*background: url(../images/logo-mobile.png) no-repeat center;*/
    background-size: 100%;
}
.header-m .tel {
    position: absolute;
    top: 23px;
    right: 10px;
    font-size: 1rem;
}

/* Nav */

.nav {
    float: right;
    /*font-family: PingFangSC-Regular, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;*/
}
.nav {
    /*margin-right: 142px;*/
    margin-right: 162px;
}
.nav li {
    position: relative;
    float: left;
    margin: auto 18px;
}
.nav li a:link,
.nav li a:visited {
    display: inline-block;
    box-sizing: content-box;
    padding-top: 49px;
    padding-bottom: 10px;
    height: 21px;
    line-height: 21px;
    font-size: 2rem;
    font-weight: bold;
    /*font-weight: 600;*/
    color: rgb(35,35,35);
}
.nav li a span:hover,
.nav li a:active {
    color: #b6b6b6;
}
.nav li a  .active {
    color: #b6b6b6;
}
/*.nav li a:hover:after,*/
/*.nav li a.active:after {*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 4px;*/
    /*display: block;*/
    /*width: 100%;*/
    /*width: -moz-calc(100% - 8px);*/
    /*width: -webkit-calc(100% - 8px);*/
    /*width: calc(100% - 8px);*/
    /*height: 3px;*/
    /*background-color: #696969;*/
/*}*/
.nav li a span {
    display: block;
    height: 100%;
}

/* Side for mobile */

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #929292;
    background: rgb(26, 27, 28);
}
.side .menu {

}
.side .menu li {
    display: block;
    height: 49px;
    border-top: 1px solid #313233;
    font-size: 1.3rem;
    width: 100%;
}
.side .menu li a {
    display: block;
    color: #b7b7b7;
    padding: 0 25px;
    height: 49px;
    line-height: 49px;
}
.side .menu .icon-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #474747;
    border-radius: 5px;
    margin-right: 20px;
}
.side .menu li a:active {
    background-color: #222324;
}
.side .menu li a.active .icon-circle,
.side .menu li a:active .icon-circle {
    background-color: #fff;
    border-color: #fff;
}
.side-open .sitecontent {
    -webkit-transform: translate3d(260px,0,0);
    transform: translate3d(260px,0,0);
}

/* Main & content */

.main {
    width: 100%;
    padding-top: 84px;
}
.main > .main-content {
    margin: auto;
}

/* Footer */

.footer {
    width: 100%;
    background: #f0f0f0;
}
.f-body {
    max-width: 1200px;
    margin: auto;
    padding: 20px 15px;
    border-top: 1px solid rgba(228,228,228,1);
    color: #6c6e75;
}
.f-info {
    float: left;
    font-size: 1.2rem;
}
.f-info a {
    margin-left: 5px;
}
.f-nav {
    float: right;
}
.f-nav li {
    float: left;
    margin-right: 15px;
}

/* Shares */

.shares {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 10;
    height: 120px;
}
.shares a {
    float: left;
    clear: both;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.shares a i {
    font-size: 16px;
    color: #fff;
}
.shares .wb {
    background-color: rgba(234,73,60,.8);
}
.shares .yk {
    background-color: rgba(47,179,255,.8);
}
.shares .wx {
    position: relative;
    background-color: rgba(36,183,39,.8);
}
.shares .wx div {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 250px;
    height: 250px;
    background: url(../images/weixin.png) no-repeat;
    background-size: 100%;
    display: none;
}
.shares .gotop {
    margin-top: 20px;
    background-color: rgba(0,0,0,.6);
}
.shares .gotop i {
    font-size: 22px;
}

/* Layout - common */

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
}
.hide {
    display: none;
}

.banner {
    position: relative;
}
.banner img {
    width: 100%;
}


/** Panel **/

.panel-wrap {
    width: 100%;
}
.panel {
    max-width: 1200px;
    margin: auto;
}
.panel-hd {
    padding: 35px 0 25px 0;
    text-align: center;
}
.panel-hd h1 {
    /*font-family: STHeiti, STxihei;*/
    font-weight: bold;
    /*font-family: PingFangSC-Medium, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;*/
    font-size: 2.2rem;
    color: rgb(68,68,68);
}
.panel-hd p {
    padding-top: 5px;
    font-size: 1.2rem;
    color: #B0B0B0;
}
.panel-bd {}
.panel-ft {
    padding: 15px 0 40px 0;
    text-align: center;
}
.panel-ft .more {
    font-size: 2rem;
    color: rgb(0,112,201);
}
.panel-ft .more:focus,
.panel-ft .more:hover {
    text-decoration: underline;
}
.panel-ft .more i {
    margin-left: 5px;
}
/*.panel-ft .more {
    display: inline-block;
    width: 224px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #9f9f9f;
    text-align: center;
    border: 1px solid #dfdfdf;
    background: transparent;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.panel-ft .more:hover,
.panel-ft .more:active {
    color: #fff;
    border-color: #666;
    background: #666;
}
.panel-ft .more.arrow {
    width: 150px;
    height: 36px;
    line-height: 36px;
    border-color: #dfdfdf;
    background: url(../images/icon-arrow-l.png) no-repeat top;
    background-size: 50% 200%;
}
.panel-ft .more.arrow:hover,
.panel-ft .more.arrow:active {
    border-color: #b6b6b6;
    background-position: center -32px;
}*/
.panel-topline {
    border-top: 1px solid #e7e7e7;
}

/** Post **/

.post-wrap {
    width: 100%;
}
.post {
    position: relative;
    max-width: 850px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(83,83,83);
}
.post-hd {
    padding: 30px 0;
    text-align: center;
}
.post-hd .title {
    color: #444;
    font-size: 1.6rem;
}
.post-hd .subtitle {
    margin: 5px auto;
    color: #B0B0B0;
    font-size: 1.2rem;
}
.post-bd {
    line-height: 2.6rem;
}

.post-bd img {
    width: 100%;
    max-width: 100%;
}
.post-ft {
    min-height: 50px;
}

.post-wrap2 {
    padding-top: 30px;
}

/* Post control */
.post-ctrl {
    position: absolute;
    top: 96px;
    right: -53px;
    width: 58px;
}
.post-ctrl .ctrl {
    position: fixed;
}
.post-ctrl .ctrl a {
    position: relative;
    float: left;
    clear: both;
    width: 58px;
    height: 34px;
    overflow: hidden;
    text-align: center;
    margin-bottom: .5rem;
    border: 1px solid #e8e8e8;
    color: #6a6a6a;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
}
.post-ctrl .ctrl a > * {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: auto;
    height: 20px;
    line-height: 18px;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.post-ctrl .ctrl a i {
    font-size: 2rem;
}
.post-ctrl .ctrl a span {
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
}
.post-ctrl .ctrl a:hover,
.post-ctrl .ctrl a:active {
    /*border-color: #ccc;*/
    background: rgba(221,221,221,0.1);
}
.post-ctrl .ctrl a:hover i,
.post-ctrl .ctrl a:active i {
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
}
.post-ctrl .ctrl a:hover span,
.post-ctrl .ctrl a:active span {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

/** Pagination  **/

.pages {
    min-height: 40px;
}

/** Works list **/

.works {
    width: 100%;
    min-height: 200px;
    /*font-family: STHeiti, STxihei;*/
    /*font-family: PingFangSC-Regular, -apple-system-font, "Helvetica Neue", Microsoft YaHei, sans-serif;*/
}
.works > ul {
    padding-right: 5px;
}
.works > ul:after {
    content: "";
    display: block;
    clear: both;
}
.works > ul > li {
    float: left;
    width: 50%;
    /*height: 290px;*/
    padding: 0 0 12px 5px;
    vertical-align: top;
    /* opacity: 0;*/
    /*-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);*/
    /*animation-name: mymove 5s 1;*/
    /*animation-name: mymove;
    -webkit-animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
    /*-webkit-transform: translate(-100%,-100%);
    transform: translate(-100%,-100%);*/
}
/*@-webkit-keyframes mymove {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}*/
.works > ul > li a {
    float: left;
    width: 100%;
}
.works .pic {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.works .pic span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all ease-out .3s;
}
.works .pic img {
    width: 99.99999%;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.works .pic:hover span {
    background: rgba(0, 0, 0, .5)
}
.works .pic:hover img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.works .info {
    padding: 12px 0 15px 0;
}
.works .info p {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}
.works .info .title {
    color: rgb(35,35,35);
    padding-top: 5px;
    font-size: 1.6rem;
}
.works .info .sub-title {
    font-size: 1.2rem;
    color: rgb(113,113,113);
}


/** Responsive - PC **/

@media (min-width: 800px) {

    .panel-hd {
        padding: 45px 0 45px 0;
    }
    .panel-hd h1 {
        font-size: 3.6rem;
        color: rgb(35,35,35);
    }
    .panel-hd p {
        font-size: 1.4rem;
    }

    .post-hd {
        padding: 45px 0 45px 0;
    }
    .post-hd .title {
        font-size: 2.4rem;
        color: rgb(62,62,62);
    }
    .post-hd .subtitle {
        font-size: 1.4rem;
    }

    .panel-ft {
        padding-bottom: 60px;
    }

    .shares {
        display: block;
    }

    /** Works **/

    .works > ul {
        padding-right: 10px;
    }
    .works > ul > li {
        width: 25%;
        padding: 0 0 12px 10px;
    }
    .works .info {
        padding: 5px 0 25px 0;
    }
    .works .info .title {
        padding-top: 12px;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .works .info .sub-title {
        font-size: 1.5rem;
    }

}

/** Responsive - Phone **/

@media (max-width: 799px) {

    /** Layout **/

    html,body {
        height: 100%;
    }
    .sitecontent {
        height: 100%;
    }
    .main {
        padding-top: 0;
        height: calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
    }
    .main-scroll {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .header {
        display: none;
    }
    .header-m {
        display: block;
    }
    .footer {
        background: none;
    }
    .f-nav {
        display: none;
    }
    .f-body {
        border-top-color: #f0f0f0;
    }

    .bg-gray-m {
        background-color: #f8f8f8;
    }

    .panel-ft .more {
        font-size: 1.6rem;
    }

    .post-ctrl {
        position: fixed;
        top: inherit;
        right: 20px;
        bottom: 8px;
        width: 198px;
        height: 34px;
    }
    .post-ctrl .ctrl a {
        clear: none;
        margin: 0 0 0 8px;
    }
    .post-ctrl .ctrl a > * {
        -webkit-transition: none;
        transition: none;
    }
    .post-ctrl .ctrl a,
    .post-ctrl .ctrl a:hover,
    .post-ctrl .ctrl a:active {
        background: rgba(255,255,255,0.8);
    }
    .post-ctrl .ctrl a:hover i,
    .post-ctrl .ctrl a:active i {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    .post-ctrl .ctrl a:hover span,
    .post-ctrl .ctrl a:active span {
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
    }
    .post-ctrl .ctrl a:active {
        color: #fff;
        background: rgba(0,0,0,0.6);
        border-color: rgba(0,0,0,0.6);
    }

    .post-wrap2 {
        padding-top: 10px;
    }

}